 .main-title {
    font-weight: 400;
    font-size: 18px;
    color: #061421;
}
.dashboard-card{
    width: 23%;
}
.related-jobs-nav {
    position: relative;
}

.related-jobs-carousel .card {
    padding: 20px;
    border: 0;
    background-color: #FDF9F9;
}

.related-jobs-carousel .card .badge-square {
    top: 15px;
    right: 15px;
    border-radius: 0px;
    border: 1px solid rgba(0, 167, 172, 0.5);
}

.related-jobs-carousel .logo-box {
    width: 50px;
    height: 50px;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.related-jobs-carousel .logo-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.related-jobs-carousel .card .card-title {
    font-size: 18px;
    margin-bottom: 1px;
    color: #061421;
}

.related-jobs-carousel .card .card-text .company-name {
    font-size: 14px;
    color: #595959;
}

.related-jobs-carousel .card .card-text .deadline {
    font-size: 15px;
    color: #061421;
    margin-left: 15px;
}

.related-jobs-carousel .card .card-text .date {
    font-size: 14px;
    color: #595959;
}

.related-jobs-carousel .card h6 {
    font-size: 16px;
    font-weight: 400;
    color: #595959;
}

.related-jobs-carousel .card h6 span {
    font-size: 16px;
    font-weight: 400;
    color: #061421;
}

.related-jobs-carousel .card .badge-full-time {
    background-color: #F3E8C1;
    font-size: 14px;
    font-weight: 400;
    color: #061421;
    padding: 10px 25px;
}

.related-jobs-carousel .card .badge-part-time {
    background-color: #c6abfb;
    font-size: 14px;
    font-weight: 400;
    color: #061421;
    padding: 10px 25px;
}

.related-jobs-carousel .card .apply-now-link {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: var(--primary);
}

.save-job {
    font-weight: 400;
    font-size: 17px;
    color: #595959;
}

.btn-apply {
    background: var(--primary);
    border-color: var(--primary);
    color: #fff;
    border-radius: 5px;
}
  .nav-icons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -25px;
    display: flex;
    align-items: center;
}

  .nav-icons i {
    background-color: transparent;
    border: 1px solid rgba(0, 167, 172, 0.5);
    color: rgba(0, 167, 172, 0.5);
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
}

  .nav-icons i:hover {
    background-color: rgba(0, 167, 172, 0.5);
    color: #fff;
}

.company-gallery-carousel .item {
    margin: 0 10px;
}

  .company-gallery-carousel .item img {
    height: 170px;
    border-radius: 10px;
}
.main-text {
    font-weight: 400;
    font-size: 16px;
    color: #595959;
    font-family: 'Work Sans', sans-serif;
}

 .main-title-nav {
    position: relative;
}

.nav-link{
    text-decoration: none;
    color: black;
}
.nav-link:hover{
    text-decoration: none;
    color: black;
}
.side-nav-bar>.nav-item > .active{
    background-color: var(--primary) !important;
    color: white !important;
}
.side-nav-bar>.nav-item > .active  svg{
    fill: white !important;
}
.viewed{
    background-color: #7307C9;
    font-weight: normal;
    font-size: 15px;
}
.pending{
    background-color: #DFA100;
    font-weight: normal;
    font-size: 15px;
}
.canceled{
    background-color: #FF4820;
    font-weight: normal;
    font-size: 15px;
}
.success{
    background-color: var(--primary);
    font-weight: normal;
    font-size: 15px;
}
#dashboard-table, td {
    border: 1px solid rgba(0, 110, 189, 0.15);
    
  }
#dashboard-table{
    text-align: center;
    
}
.w-70{
    width: 70%;
}
.w-30{
width: 30%;
}
.w-40{
    width: 40%;
}
.w-60{
    width: 60%;
}

@media screen and (max-width: 480px) {
    .w-70{
        width: auto;
    }
    .w-30{
    width: auto;
    }
    .w-40{
        width: auto;
    }
    .w-60{
        width: auto;
    }
    .dashboard-card{
        width: 100%;
    }
  }